<html lang="es">
    <head>
        {% include './includes/head.njk' %}
    </head>

    <body>
        <header>
            {% include './includes/header.njk' %}
        </header>
        <body>
        Welcome to this website, {{ name }}.

            {{posts[0].title}}
            <br><br>
            {{posts[0].year}}
        </body>
        <footer>
            {% include './includes/footer.njk' %}
        </footer>
    </body>
</html>