<html lang="es">
    <head>
        {% include './includes/head.njk' %}
    </head>

    <body>
        <header></header>
        <body>

            {{posts[0].title}}
            <br><br>
            {{posts[0].year}}
        </body>
        <footer></footer>
    </body>
</html>